* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    user-select: none;
    position: relative;
}

@media screen and (max-width: 48rem) {
    body {
        min-height: inherit;
        background: none;
    }
}
  